@import 'common.scss';

html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: var(--s-background-color);
  font-family: font-family();
  color: var(--s-text-color);
}

textarea {
  resize: vertical;
}
