@import 'common.scss';
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~@angular/cdk/overlay-prebuilt.css';

html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: var(--s-background-color);
  font-family: font-family();
  color: var(--s-text-color);
}

textarea {
  resize: vertical;
}

.sc-no-user-select {
  user-select: none;
}

.sc-hidden {
  display: none;
  visibility: hidden;
  opacity: 0;
}
