@import '../../styles/common.scss';

$primary: color();
$primary-dark: activated-color();
$secondary: color(secondary);
$secondary-dark: activated-color(secondary);
$success: color(success);
$success-dark: activated-color(success);
$danger: color(danger);
$danger-dark: activated-color(danger);
$info: color(info);
$info-dark: activated-color(info);
$warning: color(warning);
$warning-dark: activated-color(warning);

.btn {
  font-family: font-family(base);
  padding: 0.75em 1.5em 0.75em;
  border-radius: border-radius(base);
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
  transition: 0.2s easing() all;
  &.disabled,
  &:disabled {
    opacity: 0.75;
    cursor: unset;
  }

  &:hover:enabled,
  &:focus:enabled {
    transform: translateY(-1px);
  }
}

.primary {
  @include colored-button($primary, $primary-dark, text-color());
}

.secondary {
  @include colored-button($secondary, $secondary-dark, text-color(secondary));
}

.success {
  @include colored-button($success, $success-dark, text-color(success));
}

.danger {
  @include colored-button($danger, $danger-dark, text-color(danger));
}

.warning {
  @include colored-button($warning, $warning-dark, text-color(warning));
}

.info {
  @include colored-button($info, $info-dark, text-color(info));
}
