.sc-input {
  font-size: font-size(input);
  line-height: line-height(input);
  background-image: none;
  border: 1px solid #d9d9d9;
  border-radius: border-radius();
  padding: 4px 11px;
  color: rgba(0, 0, 0, 0.65);
  transition: all ease 0.2s;
  &:hover:enabled,
  &:focus:enabled {
    outline: none;
    border-color: var(--s-primary-background-color);
    box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
  }
}
