<sc-container>
  <div class="mb-20">
    <sc-row>
      <sc-column>
        <sc-title
          type="display-xl"
          disabled
        >
          this is a longish string of text
        </sc-title>
      </sc-column>
    </sc-row>
  </div>
  <sc-row>
    <sc-column
      [xs]="6"
      [sm]="12"
      [md]="0"
      [lg]="12"
      [xl]="12"
    >
      <sc-button [type]="'primary'">Primary</sc-button>
      <sc-button [type]="'secondary'">Secondary</sc-button>
      <sc-button [type]="'info'">Info</sc-button>
      <sc-button [type]="'success'">Success</sc-button>
      <sc-button [type]="'warning'">Warning</sc-button>
      <sc-button [type]="'danger'">Danger</sc-button>
    </sc-column>
  </sc-row>
</sc-container>
<router-outlet></router-outlet>
