<sc-container>
  <div class="mb-20">
    <sc-row>
      <sc-column>
        <sc-title type="display-lg">Orders</sc-title>
        <div class="mb-4"></div>
        <sc-title type="sub-heading">
          Create, manage, and view order on this page
        </sc-title>
        <sc-text>Text Test</sc-text>
        <sc-text>Text Test</sc-text>
        <sc-paragraph>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ullam quisquam nulla quos enim neque minima voluptas aliquam, possimus sit necessitatibus dolorem aspernatur sed non facilis at quasi doloremque et iure.
        </sc-paragraph>
        <sc-paragraph>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ullam quisquam nulla quos enim neque minima voluptas aliquam, possimus sit necessitatibus dolorem aspernatur sed non facilis at quasi doloremque et iure.
        </sc-paragraph>
      </sc-column>
    </sc-row>
  </div>
  <sc-row>
    <sc-column
      [xs]="6"
      [sm]="12"
      [md]="0"
      [lg]="12"
      [xl]="12"
    >
      <sc-button [type]="'primary'">Primary</sc-button>
      <sc-button [type]="'secondary'">Secondary</sc-button>
      <sc-button [type]="'info'">Info</sc-button>
      <sc-button [type]="'success'">Success</sc-button>
      <sc-button [type]="'warning'">Warning</sc-button>
      <sc-button [type]="'danger'">Danger</sc-button>
    </sc-column>
  </sc-row>
</sc-container>
<router-outlet></router-outlet>
